.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    line-height: 50px;
    background: white;
    z-index: 200;

    .footer-link {
        margin: 0 15px 0 0;
        color: rgba(0, 0, 0, 0.6);
        &:hover{
            color: rgba(0, 0, 0, 0.95);
        }
    }

    .app-link{
        height: 30px;
        margin: 10px 2px 0;
        opacity: 0.5;
        float: right;

        &:hover{
            opacity: 1;
        }

        img{
            height: 30px;
        }
    }
}
