$light-gray: #f6f6f6;
$color-gray: #f9fafb;
$green: #2AB45A;
$dark-green: #24a050;
$gray: #dbdbdb;
$white: #ffffff;
$red: #dc3545;
$dark-red: #c82333;
$black: #212121;
$text-gray: #9B9B9B;

$topnav-border-bottom: 1px solid $light-gray;

$main-link-color: $green;
$main-link-hover-color: $dark-green;

$main-menu-hover-bg: $light-gray;

$select-field-border: $gray;

$media-element-border: 1px solid $gray;

$button-background: $green;
$button-hover-bg: $dark-green;
$button-text: white;
$button-danger: $red;
$button-danger-hover: $dark-red;

$border-color: #D8D8D8;


$color-main: #2AB45A;
$color-secondary: #9B9B9B;
$color-borders: #FAFAFA;
$color-background: #F0F0F0;
$color-activeArea: #FFFFFF;