@import "fonts";
@import "colors";
@import "mix";
@import "typography";
@import "elements";
@import "topNavigation";
@import "mainMenu";
@import "loader";

/**
Here we keep just general shared styles not related to any Screen or Component
 */

input {
  border: 1px solid $select-field-border;
  padding: 10px 20px;
}

#root > .container {
  padding-bottom: 80px;
}

.ui.secondary.button{
  background-color: #fff !important;
  border: 1px solid $color-main !important;;
  color: $color-main !important;

  &:hover{
    background-color: #EAF8EF !important
  }
}
