@import "../../../Styles/colors";

.screen-campaignAnalytics {
  .text-center {
    text-align: center;
  }

  .text-margin {
    margin-left: 8px;
  }
  .channel-image{
    max-width: 20px !important;
  }
}