@import "../../../Styles/colors";

.channel-wrapper {
  margin-bottom: 0 !important;
}

.channel-image {
  margin-left: 0 !important;
}

.post-container {
  margin-top: 10px;
  margin-left: 10px;
}

.text-gray {
  color: $text-gray
}

.floated-right {
  float: right;
}