.screen-register {
    .register-grid {
        height: '100%';
    }
    .register-grid-column {
        max-width: 450px;
    }
    .register-form {
        margin-bottom: 10px;
    }
    .confirmation {
        margin-bottom: 10px;
    }
    .disclaimer {
        text-align: left;
    }
}
