@import "../../../Styles/colors";

.page-settings{

  .box{
    max-width: 350px;
    border: 1px solid $border-color;
    padding: 15px;
    margin: 25px 10px 25px 0;

    span{
      color: $text-gray;
    }
    h3{
      margin-bottom: 3px;
    }
  }
  .account{
    .profile{
      color: $green;
      font-size: 50px;
      margin-right: 15px;
    }
  }

  .btn {
      margin: 0.875em 0;
  }

  .user-info-box {
    display: inline-block;

    span {
      color: $text-gray;
    }
  }

  .disabled-card {
    pointer-events: none;
    opacity: 0.5;
  }
}